<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users Interests</title>
  </head>

  <body>
    <%= yield %>
    <br>
    <h3>There are <%= @num_of_users %> users
      with a total of <%= count_interests(@users) %> interests</h3>
  </body>
</html>
